.Actions {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 3px solid rgba(128, 128, 128, 0.253);
    background-color: white;
}

.btn {
    margin: 16px;
    height: 48px;
    width: calc(50% - 25px);
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
.btn:nth-last-child(1) {
    margin-right: 0;
}

.accept {
    background-color:  #F84546;
    color: white;
}

.cancel {
    color:  #F84546;
}

.accept:hover {
box-shadow: 0px 4px 12px 0px #F84546;
}

.cancel:hover {
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
}