@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;500&display=swap');

body {
    font-family: 'Vazirmatn';
    font-weight: 500;
    direction: rtl;
    background-color: #ECF0F1;
}